*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-height: 100vh;
    background-color: rgb(31, 31, 31);
    margin-inline: auto;
}
h1{
    margin-top: 2rem;
    color:#fff;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}
form{
    margin: 30px;
    max-width: 550px;
    width: 100%;
    background-color: rgb(86, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px 40px 50px;
    border-radius: 30px;
    animation:shadow 0.3s ease-in-out ;
}
@keyframes shadow {
    0%{
        box-shadow: 0 10px 1rem rgba(172, 162, 162, 0.1);
    }
    100%{
        box-shadow: 0 10px 1rem rgba(126, 117, 117, 0.684);
    }
}
form input{
    width: 100%;
    padding:10px;
    border-radius: 10px;
    font-size: 1.2rem;
    border:none;
    outline: none;
    margin-bottom: 1rem;
}
form textarea{
    width:100%;
    height:400px;
    font-size: 1.15rem;
    padding:12px;
    border-radius: 20px;
    font-weight: 500;
}
form button{
    padding:10px 30px;
    font-size: 1.25rem;
    background: #1d1c1c;
    color: #fff;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius:10px ;
}
button:hover{
    background: #000;
}
