<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <div class="container">
        <h1>Create a new Post</h1>
        <form action="/blog" method="post">
            <input type="text" placeholder="enter blog title" name="title">
            <textarea placeholder="Write your content..." name="description"></textarea>
            <button>Submit</button>
        </form>
    </div>
   
</body>
</html>